.buttonValue{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    }
    
    .button{
    position: relative;
    width: 144px;
    height: 36px;
    left: 100px;
    top: 84px;
    background: #000000;
    /* Shadow/Small */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    }
    
    .usuarios{
    position: relative;
    width: 50px;
    height: 28px;
    left: 24px;
    top: 88px;
    /* H4 (24px) */
    font-family: Roboto;
    font-style: bold;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    }
    
    .control{
        text-align: left;
        position: static;
        width: 150;
        height: 100px;
        left: 100%;
        margin-left: 0px;
    }