
.rowLink:hover {
    background-color: rgb(115, 233, 80);
    color: blue;
    transition: all 0.25s;
  }

.rowLink:active {
    background-color: rgb(143, 8, 136);
    transition: all 0.25s;
  }



th, td {
  width: 30%;
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
}

.idUser{
  text-decoration: underline;
    color: blue;
}

.form{
  margin-top: 20px;
  margin-left: 10%;
  align-items: center;
  text-align: center;
}

.lb_users{
  font-size: 150%;
  margin-right: 20%;
}

.btn_criar{
  margin-left: 30%;
}



