
.rowLink:hover {
    background-color:#5cb85c;
    color: blue;
    transition: all 0.25s;
  }

  .rowLink:active {
    background-color: rgb(143, 8, 136);
     transition: all 0.25s;
  }

th, td {
  width: 30%;
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
}

.idUser{
  text-decoration: underline;
    color: blue;
}

.form{
  margin-top: 20px;
  margin-left: 10%;
  align-items: center;
  text-align: center;
}

.lb_users{
  font-size: 150%;
  margin-right: 20%;
}

#btn_criar{
  margin-left: 30%;
}

.btnEdit,
.btnDelete{
    display: inline-block;
    vertical-align: top;
}

.btnEdit:hover {
  color: rgb(194, 14, 207);
  transition: all 0.25s;
}

.btnDelete:hover {
  color: rgb(207, 19, 19);
  transition: all 0.25s;
}

.btnCriar{
  margin-top: 5px;
  margin-bottom: 5px;
}

