.userInfo{
  margin-top: 50px;
 text-align: center;
  display: absolute;
  justify-content: center;
  align-items: center;
  
}

.userInfo h1 {
    color: rgb(0, 0, 0);
    
}

.userInfo p {
    color: rgb(5, 5, 5);   
}

.cardName{
    font-size: 30px;
    font-weight: bold;
}