.userInfo{
  height: 100vh; /* Magic here */
  display: absolute;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.userInfo h1 {
    color: rgb(0, 0, 0);
    
}

.userInfo p {
    color: rgb(5, 5, 5);   
}
